<!-- <app-custom-button (onButtonTap)="callApi()" btnText="Call Api">
</app-custom-button>

@if (users.length == 0) {
<h1>No users Found</h1>
} @if(users.length > 0) { @for (user of users; track $index) {
<h1>{{ user.first_name }} {{ user.last_name }}</h1>
} } -->

<!-- <div class="h-screen w-screen bg-neutral-100 justify-between flex flex-row">
  <div class="bg-white w-[20%] flex flex-col gap-4 p-4">
     <app-suggestions [maxUserLimit]="2" class="w-full"></app-suggestions>

    <div class="flex flex-col justify-center items-center gap-4">
      <img
        [src]="user.avatar"
        class="size-24 rounded-full object-cover bg-neutral-300"
      />
      <div class="flex flex-col gap-">
        <h1 class="text-sm font-semibold">
          {{ user.first_name }} {{ user.last_name }}
        </h1>
        <p class="text-xs text-neutral-400">{{ user.bio }}</p>
      </div>

      <div class="flex flex-row border p-2 rounded-xl w-full justify-around">
        <div class="flex flex-col items-center">
          <h1 class="text-sm font-semibold">{{ user.posts }}</h1>
          <p class="text-xs text-neutral-400">Posts</p>
        </div>

        <div class="flex flex-col items-center">
          <h1 class="text-sm font-semibold">{{ user.followers }}</h1>
          <p class="text-xs text-neutral-400">Followers</p>
        </div>

        <div class="flex flex-col items-center">
          <h1 class="text-sm font-semibold">{{ user.following }}</h1>
          <p class="text-xs text-neutral-400">Following</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-4">
      <h1 class="text-sm font-semibold">Following</h1>

      @if (userService.following.length > 0) {
      <div class="flex flex-col gap-2">
        @for (user of userService.following; track $index) {
        <app-user-tile [showButtons]="false" [user]="user"></app-user-tile>
        }
      </div>
      } @if(userService.following.length == 0) {

      <div
        class="bg-neutral-100 rounded-xl h-52 flex flex-col justify-center items-center"
      >
        <p class="text-xs text-neutral-500">No Following</p>
      </div>
      }
    </div>
  </div>
  <div class="grow">
    <app-maincontent></app-maincontent>
  </div>

  <div class="bg-white w-[20%] flex flex-column px-4 py-4">
    <app-suggestions [maxUserLimit]="6" class="w-full"></app-suggestions>
  </div>
</div> -->

<div
  class="h-screen w-screen overflow-hidden  bg-neutral-100 flex flex-col"
>
  <div class="h-14 shrink-0 border-b border-neutral-200 shadow-sm flex justify-center flex-row  bg-white">

  </div>
  <div class="grow  bg-neutral-100 py-2   justify-center flex overflow-hidden flex-row">
    <div class="bg-white shadow-sm border border-neutral-200 rounded-lg w-[17%] shrink-0 "></div>
    <div class="overflow-y-scroll   flex flex-col gap-2 px-2  w-[32%]">

      <div class="flex flex-row justify-between ">
        <h1 class="text-md font-[500]">Trending Now</h1>

        
      <app-custom-button
      (onButtonTap)="toggleCreatePost()"
      class="self-end"
      btnText="Create Post"
      radius="rounded-lg"
      textSize="text-xs"
    ></app-custom-button>
      </div>


      @if (showCreatePost) {
      <div
        class="bg-white flex flex-col rounded-xl shadow-sm items-start gap-2 px-2 py-4"
      >
        <textarea
          [(ngModel)]="description"
         
          type="text"
          class="outline-none w-full text-wrap p-2 text-xs rounded-xl h-20 border"
          name=""
          placeholder="Type Here..."
          id=""
        ></textarea>
        <textarea
          [(ngModel)]="imageUrl"
          type="text"
          class="outline-none w-full text-wrap p-2 text-xs rounded-xl h-10 border"
          name=""
          placeholder="Image Url"
          id=""
        ></textarea>
        <app-custom-button
        [isOutline]="true"
          (onButtonTap)="submitPost()"
          class="self-end"
          btnText="Submit"
          radius="rounded-lg"
          textSize="text-xs"
        ></app-custom-button>
      </div>
      } @for (post of postService.posts; track $index) {

      <div class="flex shadow-sm gap-2 flex-col py-2 border-neutral-200  bg-white w-full rounded-lg border">
        <app-user-tile class="px-2" [user]="post.user"></app-user-tile>
        @if(post.description !== undefined && post.description.length > 0){
        <p class="text-sm px-4   text-neutral-700">
          {{ post.description }}
        </p>
        } @if(post.image !== undefined && post.image.length > 0){
        <img
          class="aspect-auto object-cover "
          [src]="post.image"
          alt=""
          srcset=""
        />
        }
        <div class="flex  px-2 flex-row items-center justify-between gap-6 w-full">
          <div class="flex flex-row items-center gap-4">
            <div class="flex flex-row gap-1 items-center">
              <p class="text-neutral-600 text-sm" >Likes</p>

              <h1 class="text-neutral-600 text-sm">{{ post.likesCount }}</h1>
            </div>

            <div class="flex flex-row gap-1 items-center">
              <p class="text-neutral-600 text-sm" >Comments</p>

              <h1 class="text-neutral-600 text-sm">{{ post.commentsCount }}</h1>
            </div>

            <div class="flex flex-row gap-1 items-center">
              <p class="text-neutral-600 text-sm" >Shares</p>

              <h1 class="text-neutral-600 text-sm">{{ post.sharesCount }}</h1>
            </div>
          </div>

          <!-- <app-custom-button
            [isOutline]="false"
            radius="rounded-full"
            btnText="View More"
            textSize="text-xs"
          >
          </app-custom-button> -->
        </div>
      </div>
      }
    </div>
    <div class="shrink-0  overflow-y-scroll  gap-2 flex flex-col w-[17%] ">
      <div class="flex bg-white rounded-lg border border-neutral-200 shadow-sm py-2 px-4 flex-col justify-center items-center gap-2">
        <h1 class="font-semibold text-md">Profile</h1>
        <img
          [src]="user.avatar"
          class="size-20 rounded-full object-cover bg-neutral-300"
        />
        <div class="flex flex-col items-center gap-">
          <h1 class="text-md font-medium">
            {{ user.first_name }}_{{ user.last_name }}
          </h1>
          <p class="text-xs text-neutral-400">{{ user.bio }}</p>
        </div>
  
        <div class="flex flex-row divide-x p-2 items-center  w-full justify-between ">
          <div class="flex flex-col  flex-1 justify-center items-center">
            <h1 class="text-sm font-semibold">{{ user.posts }}</h1>
            <p class="text-xs text-neutral-400">Posts</p>
          </div>
  
          <div class="flex flex-col  flex-1 justify-center items-center">
            <h1 class="text-sm font-semibold">{{ user.followers }}</h1>
            <p class="text-xs text-neutral-400">Followers</p>
          </div>
  
          <div class="flex flex-col  flex-1 justify-center items-center">
            <h1 class="text-sm font-semibold">{{ user.following }}</h1>
            <p class="text-xs text-neutral-400">Following</p>
          </div>
        </div>
      </div>
  
      <app-suggestions></app-suggestions>
    </div>
  </div>
</div>
