<div class="h-screen w-screen overflow-hidden bg-neutral-100 flex flex-col">
  <div
    class="h-14 shrink-0 border-b border-neutral-200 shadow-sm flex justify-center flex-row bg-white"
  ></div>
  <div
    class="grow bg-neutral-100 py-2 justify-center flex overflow-hidden flex-row"
  >
    <div
      class="bg-white shadow-sm border border-neutral-200 rounded-lg w-[17%] shrink-0"
    ></div>
    <div class="overflow-y-scroll px-2 w-[34%]">
      <router-outlet></router-outlet>
    </div>
    <div class="shrink-0 overflow-y-scroll gap-2 flex flex-col w-[17%]">
      <div
        class="flex bg-white rounded-lg border border-neutral-200 shadow-sm py-2 px-4 flex-col justify-center items-center gap-2"
      >
        <h1 class="font-semibold text-md">Profile</h1>
        <img
          [src]="user.avatar"
          class="size-20 rounded-full object-cover bg-neutral-300"
        />
        <div class="flex flex-col items-center gap-">
          <h1 class="text-md font-medium">
            {{ user.first_name }}_{{ user.last_name }}
          </h1>
          <p class="text-xs text-neutral-400">{{ user.bio }}</p>
        </div>

        <app-custom-button
        (onButtonTap)="toProfilePage()"
          btnText="View Profile"
          radius="rounded-lg"
          textSize="text-xs"
        ></app-custom-button>
        <div
          class="flex flex-row divide-x p-2 items-center w-full justify-between"
        >
          <div class="flex flex-col flex-1 justify-center items-center">
            <h1 class="text-sm font-semibold">{{ user.posts }}</h1>
            <p class="text-xs text-neutral-400">Posts</p>
          </div>

          <div class="flex flex-col flex-1 justify-center items-center">
            <h1 class="text-sm font-semibold">{{ user.followers }}</h1>
            <p class="text-xs text-neutral-400">Followers</p>
          </div>

          <div class="flex flex-col flex-1 justify-center items-center">
            <h1 class="text-sm font-semibold">{{ user.following }}</h1>
            <p class="text-xs text-neutral-400">Following</p>
          </div>
        </div>
      </div>

      <app-suggestions></app-suggestions>
    </div>
  </div>
</div>
